.undoredo {
  position: relative;
  bottom: 11%;
  left: 15vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  z-index: 1000;
  transition: left 0.5s ease;
}

.circle-button {
  width: 28px; 
  height: 28px;
  border-radius: 50%;
  border: 3px solid #d4d4d4; 
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle-button:hover {
  border: 3px solid #b7b4b4; 
}

@media (max-width: 576px) {
  .undoredo {
      left: 68%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .undoredo {
      left: 69%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .undoredo {
      left: 70%;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .undoredo {
      left: 71%;
  }
}

@media (min-width: 1023px) {
  .undoredo {
      left: 75%;
  }
}

@media (min-width: 1200px) {
  .undoredo {
      left: 80%;
  }
}

@media (min-width: 1400px) {
  .undoredo {
      left: 84%;
  }
}